/* 1025 */
@media(max-width: 1025px) {
    .inspiration .slider {
        width: 100%;
        overflow-x: scroll;
    }
}

/* 970 */
@media(max-width: 970px) {
    .email {
        margin: 150px 0 90px;
    }

    .email .container form {
        margin-left: auto;
    }
}

/* 770 */
@media(max-width: 770px) {
    .inspiration .content .text {
        order: 1;
    }
}

/* 570 */
@media(max-width: 570px) {

    .header {
        padding: 30px 0;
    }

    .header .navbar .container {
        padding: 0px 15px 55px;
    }

    .header .hero .container {
        padding-top: 0px;
    }

    .header .hero .container .subtitle,
    .header .hero .container .title,
    .header .hero .container .text,
    .header .hero .container .arrow,
    .header .hero .container .arrow i {
        color: white;
        border-color: white;
    }

    .header::before {
        width: 100%;
        height: 100%;
        background: url(images/header-media-bg.png) no-repeat center / cover;
    }

    .header .navbar .container .left .logo,
    .header .navbar .container .right,
    .header .navbar .container .left .menu {
        display: none;
    }

    .header .navbar .container .left .logo-white,
    .header .navbar .container .burger {
        display: block;
    }

    .header .hero .container .arrow {
        margin: 50px auto 0;
    }

    .email {
        margin: 60px 0;
    }

    .email .container {
        gap: 60px;
    }
}

/* 425 */
@media(max-width: 430px) {
    .header .hero .container .title {
        font-size: 39px;
    }

    .header .hero .container .text {
        font-size: 20px;
    }

    .email .container form {
        flex-wrap: wrap;
    }

    .inspiration .slider,
    .inspiration .content .navigation {
        display: none;
    }

    .inspiration .cards {
        display: flex;
    }
}

/* 350 */
@media(max-width: 350px) {
    .inspiration .cards .card {
        width: 145px;
    }
}