/* 1025 */
@media(max-width: 1025px) {}

/* 770 */
@media(max-width: 770px) {}

/* 570 */
@media(max-width: 570px) {

    .header {
        padding: 30px 0;
    }

    .header .navbar .container {
        padding: 0px 15px 55px;
    }

    .header .hero .container {
        padding-top: 0px;
    }

    .header .hero .container .subtitle,
    .header .hero .container .title,
    .header .hero .container .text,
    .header .hero .container .arrow,
    .header .hero .container .arrow i {
        color: white;
        border-color: white;
    }

    .header::before {
        width: 100%;
        height: 100%;
        background: url(images/header-media-bg.png) no-repeat center / cover;
    }

    .header .navbar .container .left .logo,
    .header .navbar .container .right,
    .header .navbar .container .left .menu {
        display: none;
    }

    .header .navbar .container .left .logo-white,
    .header .navbar .container .burger {
        display: block;
    }

    .header .hero .container .arrow {
        margin: 50px auto 0;
    }
}

/* 425 */
@media(max-width: 430px) {
    .header .hero .container .title {
        font-size: 39px;
    }

    .header .hero .container .text {
        font-size: 20px;
    }
}

/* 350 */
@media(max-width: 350px) {}